*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /*--------------header---------------*/

 .header{
     height: 100vh;
     width: 100%;
     background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/bg1.jpg);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
 }
 .user-box{
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     position: absolute;
     text-align: center;
 }

 .user-box img{
     width: 250px;
     border-radius: 50%;
     height: 250px;
 }

 .user-box h1{
     color: white;
     font-weight: bold;
     margin: 10px;
     font-size: 35px;
 }

 .user-box p{
     color: white;
     text-align: center;
     font-size: 22px;
 }

 .scroll-btn{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    padding: 10px 10px 20px;
    border-radius: 30px;
 }

 .scroll-bar span{
     border: 2px solid white;
     font-size: 10px;
     border-radius: 30px;
 }
 .scroll-bar{
     animation: mover 1s infinite alternate;
 }
 @keyframes mover{
     0%{transform: translateY(0);}
     100%{transform: translateY(10px);}
 }


/* ------------Navbar-------------- */

.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;
}

.navbar{
    background-color: black;
}
.navbar-brand img{
    height: 50px;
    width: 100px;
}

.nav-bar .fa-bars{
    color: white;
    font-size: 30px;
}
.navbar-toggler{
    outline: none !important;
}

.navbar-nav{
    float: right;
    text-align: right;
}
.nav-link{
    color: white !important;
}

.navbar-nav li a:hover{
color: red !important;
transition: 0.5s;
}


/* -------------About-------------- */

.about{
    padding-top: 100px;
    margin-bottom: 130px;
}

.profile-img{
    height: 350px;
    width: 320px;
    margin-bottom: 20px;
}

.skills-bar p{
    margin-bottom: 6px;
    font-weight: 10px;
}
.progress-bar{
    border-radius: 16px;
    background: black !important;
}


/* -----------------Resume-------------- */

.resume{
    margin-top: -279px;
    padding-top: 80px;
    padding-bottom: 30px;
    background: #f9f9f9;
}
.resume h3{
    margin-bottom: 50px;
}
.timeline{
    list-style-type:none ;
    position: relative;
}
.timeline:before{
    content: '';
    background: black;
    display: inline-block;
    position: absolute;
    left: -5px;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: white;
}
.timeline li h4{
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: white;
    font-size: 15px;
}
.timeline li h4 span{
    font-weight: bold;
    color: #ccc;
}
.timeline li:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: -14px;
    width: 20px;
    height: 20px;
    z-index: 1;
    
}

/* ---------------services------------- */

.services{
    padding-top: 75px;
    padding-bottom: 50px;
}
.services h1{
margin-bottom: 15px;
}
.services-box{
    background: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.services-box .fa{
    margin: 0 10px;
    font-size: 30px;
}
.services-box span{
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}
.services-box p{
    font-size: 15px;
    margin-top: 20px;
    color: #777;
}
.services-box:hover{
    background: black;
    color: white;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}
.services-box:hover p{
    color: white;
}

/* --------------Contact----------- */

.contact{
    padding-top: 50px;
    
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.contact .row{
    padding: 30px 0;
    font-size: 22px;
}
.contact .col-md-4 .fa{
    padding: 10px;
    font-size: 40px;
}

.contact .btn{
    background: transparent;
    border: 3px solid white;
    border-radius: 30px;
    margin: 5px;
    padding: 10px 25px 10px 25px;
}
.contact .btn a:hover{
    color: white;
}
.contact .btn:focus{
    box-shadow: none !important;
}
.contact .btn:hover{
    border: 3px solid white !important;
    background: black !important;
    transition: 0.6s;
}
.contact .btn .fa{
    margin-right: 10px;
}
.contact a{
    color: white;
    
}
.contact a:hover{
    color: blue;
    transition: 0.5s;
    text-decoration: none;
}

/*---------- footer -----------*/

.footer{
    background: black;
    height: 50px;
    margin-top: 50px;
    color: white;
    padding-top: 10px;
}
.fa-heart{
    color: red;
}



/* ----------Social Icons-------- */

.social-icons{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 40px;
}
.social-icons ul{
    padding: initial;
}
.social-icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    color: white;
    background: black;
    margin-top: 5px;
    cursor: pointer;
}
.social-icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}

.social-icons ul li a{
    color: white;
}